pipeline/PL_MIGRATE_FILES_ON_FILETYPE.json
{
	"name": "PL_MIGRATE_FILES_ON_FILETYPE",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata InFo",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_BINARY_SOURCE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata InFo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata InFo').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetFileExtension",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "fileExtension",
								"value": {
									"value": "@last(split(item().name, '.'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SwitchBasedOnFileType",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SetFileExtension",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('fileExtension')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "csv",
										"activities": [
											{
												"name": "CopyCsvFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": "raw-datasets",
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": {
																"value": "@toUpper(variables('fileExtension'))",
																"type": "Expression"
															},
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "json",
										"activities": [
											{
												"name": "CopyJsonFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": "raw-datasets",
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": {
																"value": "@toUpper(variables('fileExtension'))",
																"type": "Expression"
															},
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "parquet",
										"activities": [
											{
												"name": "CopyParquetFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": "raw-datasets",
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_TARGET_ADLS_BINARY",
														"type": "DatasetReference",
														"parameters": {
															"TargetFolder": {
																"value": "@toUpper(variables('fileExtension'))",
																"type": "Expression"
															},
															"TargetFile": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileExtension": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Migration"
		},
		"annotations": []
	}
}